<div class="dialog page__dialog" role="dialog" aria-labelledby="dialog-title" aria-modal="true">
    <div class="dialog__backdrop"></div>
    <div class="dialog__wrap">
        <div class="dialog__inner">
            <h2 class="dialog__title" id="dialog-title">{{ 'success.contact.title'|trans([], 'messages') }}</h2>
            <div class="dialog__content">{{ 'success.contact.text'|trans([], 'messages') }}</div>
            <button class="dialog__close" type="button" aria-label="Close dialog"
                    onclick="document.body.removeChild(document.querySelector('.dialog'))">
                <svg class="svg-icon dialog__close-icon" aria-hidden="true">
                    <use xlink:href="{{ asset('/bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#close"></use>
                </svg>
            </button>
        </div>
    </div>
</div>