<div class="cookie page__cookie">
    <div class="container cookie__inner">
        <div class="cookie__text C(eden)">
                <p>{{ 'cookies'|trans([], 'messages') }}</p>
        </div>
        <button class="btn btn--theme--default cookie__btn"><span class="btn__inner">{{ 'I accept'|trans([], 'messages') }}</span></button>
    </div>
</div>