<div class="section">
    <div class="container section__inner">
        <div class="map">
            <div class="map__inner">
                <div class="map__holder">
                    <div class="map__location">
                        <svg class="svg-icon map__icon" aria-hidden="true">
                            <use xlink:href="{{ asset('/bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#location"></use>
                        </svg>
                        <div><b>St. Peter Hotel</b><br>Seefeld, Tirol</div>
                    </div>
                </div>
                <div class="map__img"><img src="{{ asset('/bundles/frontend/img/map.svg') }}" alt=""></div>
                <div class="map__holder"></div>
            </div>
        </div>
    </div>
</div>