<div class="Py(2rem) Bgc(lunar-green)">
    <div class="container">
        <form  class="subscription js-ajax-form js-validate-form" action="{{ path('submit-subscription') }}" data-success-text="Congratulations! You have registered your email for our subscription!" method="post" novalidate>
            <div class="subscription__inner">
                <label class="subscription__text" for="subscription-field">{{ 'sub.to.news'|trans([], 'messages') }}</label>
                <div class="subscription__inputs">
                    <div class="subscription__input-wrap">
                        <input class="subscription__input js-validate-field" name="email" id="subscription-field" type="email" placeholder="EMAIL" data-field-type="email" data-error="{{ 'error.email'|trans([], 'messages') }}"><span class="error form__error"></span>
                    </div>
                    <button class="btn subscription__btn btn--theme--light"><span class="btn__inner">{{ 'Submit'|trans([], 'messages') }}</span></button>
                </div>
            </div>
        </form>
    </div>
</div>